@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-grid-gray-900 {
    background-color: #000; /* Updated to pure black */
    background-image: linear-gradient(rgba(255, 255, 255, 0.07) 1px, transparent 1px),
                      linear-gradient(90deg, rgba(255, 255, 255, 0.07) 1px, transparent 1px);
    background-size: 40px 40px;
    background-position: center;
    background-repeat: repeat;
    -webkit-mask-image: radial-gradient(ellipse 80% 50% at 50% 0%, black 40%, transparent 100%);
    mask-image: radial-gradient(ellipse 80% 50% at 50% 0%, black 40%, transparent 100%);
}
